@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body, html {
  height: 100%;
}

body,
button, input, optgroup, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

#app {
  height: 100%;
}

*:focus {
  outline: none;
}

.page,
.main {
  display: flex;
  height: 100%;
}

h1, h2, h3 {
  font-weight: 300;
}

h2 {
   font-size : 36px;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 35px;
  padding: 0 10px;
}

::-webkit-input-placeholder {
  font-size: 16px;
  color: #B3B3B3;
}

::-moz-placeholder {
  font-size: 16px;
  color: #B3B3B3;
}

:-ms-input-placeholder {
  font-size: 16px;
  color: #B3B3B3;
}

:-moz-placeholder {
  font-size: 16px;
  color: #B3B3B3;
}

.btn {
  padding: 8px 24px 7px;
  border-radius: 3px;
  font-size: 16px;
  transition: .3s;
  white-space: nowrap;

  &:hover {
    opacity: 0.9;
  }

  &-add {
    background: #27ccc0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 8px 32px 7px;
  }

  &-remove {
    border: 1px solid #ff3159;
    color: #ff3159;
  }
}

.badge {
  background: #27ccc0;
  color: #fff;
  border-radius: 18px;
  font-size : 13px;
  line-height : 14px;
  padding: 4px 9px;
}
